# üêº Pandas for Data Analysis

Pandas is a python library that helps you quickly interview, analyze, manipulate and process data. A python library is a collection of functions and methods that allow you to write less code in order to do the same thing.

For example, below is an example of how you would import `.csv` data without pandas:

In [4]:
import csv

with open('data/avocado-short.csv', newline='') as csvfile:
    avoreader = csv.reader(csvfile)
    for row in avoreader:
        print(row)

['', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225', '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year', 'region']
['0', '2015-12-27', '1.33', '64236.62', '1036.74', '54454.85', '48.16', '8696.87', '8603.62', '93.25', '0', 'conventional', '2015', 'Albany']
['1', '2015-12-20', '1.35', '54876.98', '674.28', '44638.81', '58.33', '9505.56', '9408.07', '97.49', '0', 'conventional', '2015', 'Albany']
['2', '2015-12-13', '0.93', '118220.22', '794.7', '109149.67', '130.5', '8145.35', '8042.21', '103.14', '0', 'conventional', '2015', 'Albany']
['3', '2015-12-06', '1.08', '78992.15', '1132', '71976.41', '72.58', '5811.16', '5677.4', '133.76', '0', 'conventional', '2015', 'Albany']
['4', '2015-11-29', '1.28', '51039.6', '941.48', '43838.39', '75.78', '6183.95', '5986.26', '197.69', '0', 'conventional', '2015', 'Albany']
['5', '2015-11-22', '1.26', '55979.78', '1184.27', '48067.99', '43.61', '6683.91', '6556.47', '127.44', '0', 'conventional', '2015', 'Albany']
['6', '2015-11-15', '0.99', '83453.76', '1368.92', '73672.72', '93.26', '8318.86', '8196.81', '122.05', '0', 'conventional', '2015', 'Albany']
['7', '2015-11-08', '0.98', '109428.33', '703.75', '101815.36', '80', '6829.22', '6266.85', '562.37', '0', 'conventional', '2015', 'Albany']
['8', '2015-11-01', '1.02', '99811.42', '1022.15', '87315.57', '85.34', '11388.36', '11104.53', '283.83', '0', 'conventional', '2015', 'Albany']
['9', '2015-10-25', '1.07', '74338.76', '842.4', '64757.44', '113', '8625.92', '8061.47', '564.45', '0', 'conventional', '2015', 'Albany']
['10', '2015-10-18', '1.12', '84843.44', '924.86', '75595.85', '117.07', '8205.66', '7877.86', '327.8', '0', 'conventional', '2015', 'Albany']
['11', '2015-10-11', '1.28', '64489.17', '1582.03', '52677.92', '105.32', '10123.9', '9866.27', '257.63', '0', 'conventional', '2015', 'Albany']
['12', '2015-10-04', '1.31', '61007.1', '2268.32', '49880.67', '101.36', '8756.75', '8379.98', '376.77', '0', 'conventional', '2015', 'Albany']
['13', '2015-09-27', '0.99', '106803.39', '1204.88', '99409.21', '154.84', '6034.46', '5888.87', '145.59', '0', 'conventional', '2015', 'Albany']
['14', '2015-09-20', '1.33', '69759.01', '1028.03', '59313.12', '150.5', '9267.36', '8489.1', '778.26', '0', 'conventional', '2015', 'Albany']
['15', '2015-09-13', '1.28', '76111.27', '985.73', '65696.86', '142', '9286.68', '8665.19', '621.49', '0', 'conventional', '2015', 'Albany']
['16', '2015-09-06', '1.11', '99172.96', '879.45', '90062.62', '240.79', '7990.1', '7762.87', '227.23', '0', 'conventional', '2015', 'Albany']
['17', '2015-08-30', '1.07', '105693.84', '689.01', '94362.67', '335.43', '10306.73', '10218.93', '87.8', '0', 'conventional', '2015', 'Albany']
['18', '2015-08-23', '1.34', '79992.09', '733.16', '67933.79', '444.78', '10880.36', '10745.79', '134.57', '0', 'conventional', '2015', 'Albany']
['19', '2015-08-16', '1.33', '80043.78', '539.65', '68666.01', '394.9', '10443.22', '10297.68', '145.54', '0', 'conventional', '2015', 'Albany']
['20', '2015-08-09', '1.12', '111140.93', '584.63', '100961.46', '368.95', '9225.89', '9116.34', '109.55', '0', 'conventional', '2015', 'Albany']
['21', '2015-08-02', '1.45', '75133.1', '509.94', '62035.06', '741.08', '11847.02', '11768.52', '78.5', '0', 'conventional', '2015', 'Albany']
['22', '2015-07-26', '1.11', '106757.1', '648.75', '91949.05', '966.61', '13192.69', '13061.53', '131.16', '0', 'conventional', '2015', 'Albany']
['23', '2015-07-19', '1.26', '96617', '1042.1', '82049.4', '2238.02', '11287.48', '11103.49', '183.99', '0', 'conventional', '2015', 'Albany']
['24', '2015-07-12', '1.05', '124055.31', '672.25', '94693.52', '4257.64', '24431.9', '24290.08', '108.49', '33.33', 'conventional', '2015', 'Albany']
['25', '2015-07-05', '1.35', '109252.12', '869.45', '72600.55', '5883.16', '29898.96', '29663.19', '235.77', '0', 'conventional', '2015', 'Albany']
['26', '2015-06-28', '1.37', '89534.81', '664.23', '57545.79', '4662.71', '26662.08', '26311.76', '350.32', '0', 'conventional', '2015', 'Albany']
['27', '2015-06-21', '1.27', '104849.39', '804.01', '76688.55', '5481.18', '21875.65', '21662', '213.65', '0', 'conventional', '2015', 'Albany']
['28', '2015-06-14', '1.32', '89631.3', '850.58', '55400.94', '4377.19', '29002.59', '28343.14', '659.45', '0', 'conventional', '2015', 'Albany']
['29', '2015-06-07', '1.07', '122743.06', '656.71', '99220.82', '90.32', '22775.21', '22314.99', '460.22', '0', 'conventional', '2015', 'Albany']
['30', '2015-05-31', '1.23', '95123.62', '922.37', '70469.69', '50.55', '23681.01', '23222.49', '458.52', '0', 'conventional', '2015', 'Albany']
['31', '2015-05-24', '1.19', '101470.91', '680.27', '71376.81', '58.7', '29355.13', '28761.81', '593.32', '0', 'conventional', '2015', 'Albany']
['32', '2015-05-17', '1.43', '109857.47', '1150.55', '81955.16', '94.32', '26657.44', '26285.43', '372.01', '0', 'conventional', '2015', 'Albany']
['33', '2015-05-10', '1.26', '120427.91', '1420.43', '102000.52', '185.66', '16821.3', '16535.55', '285.75', '0', 'conventional', '2015', 'Albany']
['34', '2015-05-03', '1.2', '59197.67', '919.87', '45490.05', '217.24', '12570.51', '12201.95', '368.56', '0', 'conventional', '2015', 'Albany']
['35', '2015-04-26', '1.22', '49585.46', '875.65', '35841.75', '89.62', '12778.44', '12076.83', '701.61', '0', 'conventional', '2015', 'Albany']
['36', '2015-04-19', '1.19', '49064.73', '774.15', '33941.51', '47.15', '14301.92', '13602.97', '698.95', '0', 'conventional', '2015', 'Albany']
['37', '2015-04-12', '1.13', '48364.29', '864.27', '30374.15', '21.5', '17104.37', '16438.49', '665.88', '0', 'conventional', '2015', 'Albany']
['38', '2015-04-05', '1.16', '47362.13', '961.77', '35577.66', '93.76', '10728.94', '9869.16', '755.61', '104.17', 'conventional', '2015', 'Albany']
['39', '2015-03-29', '1.02', '67799.08', '1402.28', '58623.22', '89.5', '7684.08', '7208.49', '475.59', '0', 'conventional', '2015', 'Albany']

And here's how you'd do it with pandas:

In [2]:
import pandas as pd

short_avo = pd.read_csv('data/avocado-short.csv')
print(short_avo)

    Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0            0  2015-12-27          1.33      64236.62  1036.74   54454.85
1            1  2015-12-20          1.35      54876.98   674.28   44638.81
2            2  2015-12-13          0.93     118220.22   794.70  109149.67
3            3  2015-12-06          1.08      78992.15  1132.00   71976.41
4            4  2015-11-29          1.28      51039.60   941.48   43838.39
5            5  2015-11-22          1.26      55979.78  1184.27   48067.99
6            6  2015-11-15          0.99      83453.76  1368.92   73672.72
7            7  2015-11-08          0.98     109428.33   703.75  101815.36
8            8  2015-11-01          1.02      99811.42  1022.15   87315.57
9            9  2015-10-25          1.07      74338.76   842.40   64757.44
10          10  2015-10-18          1.12      84843.44   924.86   75595.85
11          11  2015-10-11          1.28      64489.17  1582.03   52677.92
12          12  2015-10-04          1.31      61007.10  2268.32   49880.67
13          13  2015-09-27          0.99     106803.39  1204.88   99409.21
14          14  2015-09-20          1.33      69759.01  1028.03   59313.12
15          15  2015-09-13          1.28      76111.27   985.73   65696.86
16          16  2015-09-06          1.11      99172.96   879.45   90062.62
17          17  2015-08-30          1.07     105693.84   689.01   94362.67
18          18  2015-08-23          1.34      79992.09   733.16   67933.79
19          19  2015-08-16          1.33      80043.78   539.65   68666.01
20          20  2015-08-09          1.12     111140.93   584.63  100961.46
21          21  2015-08-02          1.45      75133.10   509.94   62035.06
22          22  2015-07-26          1.11     106757.10   648.75   91949.05
23          23  2015-07-19          1.26      96617.00  1042.10   82049.40
24          24  2015-07-12          1.05     124055.31   672.25   94693.52
25          25  2015-07-05          1.35     109252.12   869.45   72600.55
26          26  2015-06-28          1.37      89534.81   664.23   57545.79
27          27  2015-06-21          1.27     104849.39   804.01   76688.55
28          28  2015-06-14          1.32      89631.30   850.58   55400.94
29          29  2015-06-07          1.07     122743.06   656.71   99220.82
30          30  2015-05-31          1.23      95123.62   922.37   70469.69
31          31  2015-05-24          1.19     101470.91   680.27   71376.81
32          32  2015-05-17          1.43     109857.47  1150.55   81955.16
33          33  2015-05-10          1.26     120427.91  1420.43  102000.52
34          34  2015-05-03          1.20      59197.67   919.87   45490.05
35          35  2015-04-26          1.22      49585.46   875.65   35841.75
36          36  2015-04-19          1.19      49064.73   774.15   33941.51
37          37  2015-04-12          1.13      48364.29   864.27   30374.15
38          38  2015-04-05          1.16      47362.13   961.77   35577.66
39          39  2015-03-29          1.02      67799.08  1402.28   58623.22

       4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0     48.16     8696.87     8603.62       93.25         0.00  conventional
1     58.33     9505.56     9408.07       97.49         0.00  conventional
2    130.50     8145.35     8042.21      103.14         0.00  conventional
3     72.58     5811.16     5677.40      133.76         0.00  conventional
4     75.78     6183.95     5986.26      197.69         0.00  conventional
5     43.61     6683.91     6556.47      127.44         0.00  conventional
6     93.26     8318.86     8196.81      122.05         0.00  conventional
7     80.00     6829.22     6266.85      562.37         0.00  conventional
8     85.34    11388.36    11104.53      283.83         0.00  conventional
9    113.00     8625.92     8061.47      564.45         0.00  conventional
10   117.07     8205.66     7877.86      327.80         0.00  conventional
11   105.32    10123.90     9866.27      257.63         0.00  conventional
12   101.36     8756.75     8379.98      376.77         0.00  conventional
13   154.84     6034.46     5888.87      145.59         0.00  conventional
14   150.50     9267.36     8489.10      778.26         0.00  conventional
15   142.00     9286.68     8665.19      621.49         0.00  conventional
16   240.79     7990.10     7762.87      227.23         0.00  conventional
17   335.43    10306.73    10218.93       87.80         0.00  conventional
18   444.78    10880.36    10745.79      134.57         0.00  conventional
19   394.90    10443.22    10297.68      145.54         0.00  conventional
20   368.95     9225.89     9116.34      109.55         0.00  conventional
21   741.08    11847.02    11768.52       78.50         0.00  conventional
22   966.61    13192.69    13061.53      131.16         0.00  conventional
23  2238.02    11287.48    11103.49      183.99         0.00  conventional
24  4257.64    24431.90    24290.08      108.49        33.33  conventional
25  5883.16    29898.96    29663.19      235.77         0.00  conventional
26  4662.71    26662.08    26311.76      350.32         0.00  conventional
27  5481.18    21875.65    21662.00      213.65         0.00  conventional
28  4377.19    29002.59    28343.14      659.45         0.00  conventional
29    90.32    22775.21    22314.99      460.22         0.00  conventional
30    50.55    23681.01    23222.49      458.52         0.00  conventional
31    58.70    29355.13    28761.81      593.32         0.00  conventional
32    94.32    26657.44    26285.43      372.01         0.00  conventional
33   185.66    16821.30    16535.55      285.75         0.00  conventional
34   217.24    12570.51    12201.95      368.56         0.00  conventional
35    89.62    12778.44    12076.83      701.61         0.00  conventional
36    47.15    14301.92    13602.97      698.95         0.00  conventional
37    21.50    17104.37    16438.49      665.88         0.00  conventional
38    93.76    10728.94     9869.16      755.61       104.17  conventional
39    89.50     7684.08     7208.49      475.59         0.00  conventional

    year  region
0   2015  Albany
1   2015  Albany
2   2015  Albany
3   2015  Albany
4   2015  Albany
5   2015  Albany
6   2015  Albany
7   2015  Albany
8   2015  Albany
9   2015  Albany
10  2015  Albany
11  2015  Albany
12  2015  Albany
13  2015  Albany
14  2015  Albany
15  2015  Albany
16  2015  Albany
17  2015  Albany
18  2015  Albany
19  2015  Albany
20  2015  Albany
21  2015  Albany
22  2015  Albany
23  2015  Albany
24  2015  Albany
25  2015  Albany
26  2015  Albany
27  2015  Albany
28  2015  Albany
29  2015  Albany
30  2015  Albany
31  2015  Albany
32  2015  Albany
33  2015  Albany
34  2015  Albany
35  2015  Albany
36  2015  Albany
37  2015  Albany
38  2015  Albany
39  2015  Albany

You can already see that pandas has saved us quite a bit of writing. It's also super fast for large datasets and it's very well documented so when you run into issues, you'll be able to find your way out pretty quickly. And believe you me... you will absolutely run into issues. Because even people who seem to know what they're talking about (‚úã) need to google the heck out of things sometimes.

## Interviewing Data

One of the first things you're going to want to do with a dataset is figure out what you've got. We do this by using different pandas functions that allow us to "interview" or get an overview of the dataset.

The data we used above `data/avocado-short.csv` is fun, but let's move on to a dataset a little more applicable to what we might actually us panads for.

In [46]:
#nursing home facility data
nfacs = pd.read_csv('data/facilities.csv')

### Interview Functions

`df.head()` - get the first 5 rows of your data

`df.tail()` - get the last 5 rows of your data

`df.sample(5)` - get a random sampling of 5 rows of your data

`df.columns` - get a list of all the columns

`df.info()` - get number of rows with data and data type for each column 

`df.shape` - get the number of rows and columns

`df.describe()` - get a variety of statistical calculations for all values in each column

Let's take these functions for a spin:

In [13]:
nfacs.head()

,facid,fac_type,capacity,fac_name,fac_address,city_state_zip,Unnamed: 6,owner,operator
0,385008,NF,96.0,Presbyterian Community Care Center,1085 N Oregon St,"Ontario, OR 97914",NaN,"Presbyterian Nursing Home, Inc.","Presbyterian Nursing Home, Inc."
1,385010,NF,159.0,Laurelhurst Village Rehabilitation Center,3060 SE Stark St,"Portland, OR 97214",NaN,"Laurelhurst Operations, LLC","Laurelhurst Operations, LLC"
2,385015,NF,128.0,Regency Gresham Nursing & Rehabilitation Center,5905 SE Powell Valley Rd,"Gresham, OR 97080",NaN,Regency Gresham Nursing & Rehabilitation Cente...,"Regency Pacific Management, LLC"
3,385018,NF,98.0,Providence Benedictine Nursing Center,540 South Main St,"Mt. Angel, OR 97362",NaN,Providence Health & Services - Oregon,Providence Health & Services - Oregon
4,385024,NF,91.0,Avamere Health Services of Rogue Valley,625 Stevens St,"Medford, OR 97504",NaN,"Medford Operations, LLC","Medford Operations, LLC"

In [14]:
nfacs.tail()

,facid,fac_type,capacity,fac_name,fac_address,city_state_zip,Unnamed: 6,owner,operator
639,70M258,ALF,70.0,Avamere Living at St. Helens,2400 Gable Rd.,"St. Helens, OR 97051",NaN,"Avamere - St. Helens Operations, LLC","Avamere-St.Helens Operations, LLC"
640,70M313,ALF,84.0,"Springs at Tanasbourne II, LLC",1950 NW 192nd Avenue,"Hillsboro, OR 97124",NaN,"Springs at Tanasbourne II, LLC","The Springs Living, LLC"
641,70M350,ALF,119.0,"Village at Keizer Ridge, The",1165 McGee Court,"Keizer, OR 97303",NaN,"VKR, LLC","Keizer Care Properties, LLC"
642,7MU215,ALF,126.0,St. Anthony Village,3560 SE 79th Avenue,"Portland, OR 97206",NaN,St. Anthony Village Associates LP,SAGE
643,0O0O0O,NaN,57.0,Fake Facility,1234 Fake St,"Nowheresville, NY 05400",NaN,Fake Company,"Not a Company, LLC"

In [15]:
nfacs.sample(5)

,facid,fac_type,capacity,fac_name,fac_address,city_state_zip,Unnamed: 6,owner,operator
129,3.80E+189,NF,80.0,Gracelen Terrace Long Term Care Facility,10948 SE Boise St,"Portland, OR 97266",NaN,"H & L Care Centers, Inc.","H & L Care Centers, Inc."
333,50R380,RCF,20.0,Countryside Living South,406 NW 2nd Avenue,"Canby, OR 97013",NaN,"Countryside Living of Canby, LLC","Countryside Living of Canby, LLC"
506,70M008,ALF,49.0,Awbrey Place,2825 Neff Rd,"Bend, OR 97701",NaN,"AWBREY AID OPCO, LLC","AWBREY AID OPCO, LLC"
156,50M055,RCF,88.0,Brookdale Mt. Hood,25200 SE Stark St,"Gresham, OR 97030",NaN,"Brookdale Senior Living Communities, Inc.","Brookdale Senior Living Communities, Inc."
241,50R271,RCF,21.0,Willamette View Memory Care Community,13145 SE River Rd,"Portland, OR 97222",NaN,"Willamette View, Inc.","Willamette View, Inc."

In [16]:
nfacs.columns

Index(['facid', 'fac_type', 'capacity', 'fac_name', 'fac_address',
       'city_state_zip', 'Unnamed: 6', 'owner', 'operator'],
      dtype='object')

In [17]:
nfacs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 9 columns):
facid             644 non-null object
fac_type          642 non-null object
capacity          642 non-null float64
fac_name          644 non-null object
fac_address       644 non-null object
city_state_zip    644 non-null object
Unnamed: 6        0 non-null float64
owner             644 non-null object
operator          644 non-null object
dtypes: float64(2), object(7)
memory usage: 45.4+ KB

In [19]:
nfacs.shape

(644, 9)

In [22]:
nfacs.describe()

         capacity  Unnamed: 6
count  642.000000         0.0
mean    57.551402         NaN
std     34.196204         NaN
min      5.000000         NaN
25%     30.000000         NaN
50%     53.000000         NaN
75%     79.000000         NaN
max    214.000000         NaN

You might notice that we only got back information on two of our columns here. `df.describe()` only works on numeric columns.

## Asking Questions
At this point, we can start asking questions of our data. 

- Which facility has the largest capacity?
- What is the average/max/min capacity for all facilities?
- How many facilities of each type are there?
- How many facilities does each state have?

### Which facility has the largest capacity?

In [24]:
nfacs.sort_values('capacity', ascending=False).head()

,facid,fac_type,capacity,fac_name,fac_address,city_state_zip,Unnamed: 6,owner,operator
93,385240,NF,214.0,Marian Estates,390 Church St,"Sublimity, OR 97385",NaN,"Ernmaur, Inc.",Marian Estates Support Services
259,50R293,RCF,186.0,Miramont Pointe,11520 SE Sunnyside Rd,"Clackamas, OR 97015",NaN,"MP, LLC","MP, LLC"
571,70M080,ALF,180.0,Rose Schnitzer Manor,6140 SW Boundary St,"Portland, OR 97221",NaN,Robison Jewish Home,Robison Jewish Home
20,385112,NF,180.0,West Hills Health & Rehabilitation Center,5701 SW Multnomah Blvd,"Portland, OR 97219",NaN,West Hills Convalescent Center Limited Partner...,West Hills Convalescent Center Limited Partner...
50,385166,NF,165.0,Maryville Nursing Home,14645 SW Farmington Rd,"Beaverton, OR 97007",NaN,Sisters of St. Mary of Oregon Maryville Corp.,Sisters of St. Mary of Oregon Maryville Corp.

### What is the average/max/min capacity for all facilities?

In [25]:
nfacs.capacity.median()

53.0

In [26]:
nfacs.capacity.max()

214.0

In [27]:
nfacs.capacity.min()

5.0

### How many facilities of each type are there?

In [30]:
nfacs.groupby('fac_type').facid.agg('count')

fac_type
ALF    221
NF     137
RCF    284
Name: facid, dtype: int64

### How many facilities does each state have?
In order to determine this, we're going to have to separate out the state value from the column `city_state_zip`. Since excel was my first analysis tool, I always think "How would I do this in excel?" first. I would probably write an excel function that would first separate out the state and the zip and then I would break that new column apart at the space. We can do that in python too!

In [47]:
# separate beginning of entry to comma
nfacs['state'] = (nfacs['city_state_zip'].str[-8:]).str.split(" ").str[0]
nfacs.head()

,facid,fac_type,capacity,fac_name,fac_address,city_state_zip,Unnamed: 6,owner,operator,state
0,385008,NF,96.0,Presbyterian Community Care Center,1085 N Oregon St,"Ontario, OR 97914",NaN,"Presbyterian Nursing Home, Inc.","Presbyterian Nursing Home, Inc.",OR
1,385010,NF,159.0,Laurelhurst Village Rehabilitation Center,3060 SE Stark St,"Portland, OR 97214",NaN,"Laurelhurst Operations, LLC","Laurelhurst Operations, LLC",OR
2,385015,NF,128.0,Regency Gresham Nursing & Rehabilitation Center,5905 SE Powell Valley Rd,"Gresham, OR 97080",NaN,Regency Gresham Nursing & Rehabilitation Cente...,"Regency Pacific Management, LLC",OR
3,385018,NF,98.0,Providence Benedictine Nursing Center,540 South Main St,"Mt. Angel, OR 97362",NaN,Providence Health & Services - Oregon,Providence Health & Services - Oregon,OR
4,385024,NF,91.0,Avamere Health Services of Rogue Valley,625 Stevens St,"Medford, OR 97504",NaN,"Medford Operations, LLC","Medford Operations, LLC",OR

Now we can use the `df.groupby()` function we learned last step and see how many facilities are in each state in our dataset.

In [48]:
nfacs.groupby('state').facid.agg('count')

state
NY      1
OR    643
Name: facid, dtype: int64

### More than one way to peel a potato üêàüëç
I think it's important at this point to let you know that there are often a variety of different ways to do any one thing. Pandas is like life, y'all. 

In your travels, you might find that you need to use [`.eval()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.eval.html) to compute a new value. That's fine. Depending on what you need to do, maybe that's better. 

Or maybe you need [.apply()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) or [.map()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html). 

As you gain more experience, and deal with more error messages, you'll learn when you need which function.

## Filtering
One way to filter your dataset is by grabbing only certain values that are **equal to** some other value. 

Let's get rid of that one NY record:

In [52]:
or_nfacs = nfacs[nfacs['state'] == 'OR']
or_nfacs.state.unique()

array(['OR'], dtype=object)

You can also filter on as sliding scale of comparison. 

Let's grab all of the facilities that have more than a 10 bed capacity:

In [ ]:
large_nfacs = nfacs[n]